@keyframes rotate{
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

body {
    margin: 0;
    background-color: black
}

#radsymbol {
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 0%;

    height: 50vw;
    transform: translateX(-50%) translateY(-50%);

    animation: rotate 5s linear infinite;

    filter: invert(0.25);
}